.git
.gitignore
.gitattributes
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
sessions
.idea
.vscode
.DS_Store
